<%# Copyright -%>
<div class="container-fluid copyright d-flex justify-content-center bg-dark pt-1 pb-1">
    <div class="container text-center text-responsive-copyright">
        &copy; <%= opts.pride %><!--, Роман Леонов -->, 2023
    </div>
</div>

<%# Back to Top -%>
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top">
    <i class="fa fa-arrow-up"></i>
</a>

<%# JavaScript Libraries -%>
<%_
if (process.env.USE_CDN) {
_%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<%#что-то не работает-%>
<%#<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>-%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<%_
} else {
_%>
<script src="/lib/jquery-3.6.4.min.js"></script>
<script src="/lib/bootstrap.bundle.min.js"></script>
<script src="/lib/wow.min.js"></script>
<script src="/lib/easing.min.js"></script>
<script src="/lib/waypoints.min.js"></script>
<script src="/lib/owl.carousel.min.js"></script>
<%#<script src="/lib/counterup.min.js"></script>-%>
<script src="/lib/js.cookie.min.js"></script>
<script src="/lib/jquery.magnific-popup.min.js"></script>
<%_
}
_%>
<script src="/lib/counterup.min.js"></script>

<%# Template Javascript -%>
<script src="/js/main.js"></script>
